{% extends "base.html" %}
{% block content %}
<section id="multiplayer">

    <article id="jeu">
        <article>
            <h2 id="p1">player 1</h2>
            <span id="player-coin-1" class="player-1"></span>
        </article>

        <table id="puissance4">

        </table>

        <article>
            <h2 id="p2"> player 2</h2>
            <span id="player-coin-2" class="player-2"></span>
        </article>
    </article>
    <div>
        <button class="button"><a href="{{ '/'}}">Abandon</a></button>
        <button class="button"><a href="{{ '/scores'}}">Score</a></button>
        <button class="reset button" id="reset-grid" style="display: none">Rejouer</button>
    </div>
 </section>
 {% endblock %}
